@CHARSET "UTF-8";

#mainHomePage {
	/* width: 768px; */
	height: 500px;
	background-color: #606060;
}

#mainTitle {
	/* width: 768px; */
	text-align: center;
	font-family: 'Arizonia', fantasy;
	font-style: italic;
	font-size: 20px;
	margin: 0;
	padding: 10px;
}

#prev_btn{ 
	position: absolute;
	top: 0;
	left: 0;
}

#next_btn{ 
	position: absolute;
	top: 0;
	right: 0;
}

#slider {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	width: 280px;
	height: 280px;
	overflow-x:hidden;
}

#slider li {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

#slider img {
	width: 280px;
	height: 280px;
}